<nav
  class="sticky z-30 top-0 right-0 left-0 px-28 flex justify-between items-center text-slate-800 bg-white shadow-xl nav-height font">
  <a routerLink="">
    <img
      class="w-auto logo-height"
      src="assets/logo_01.png"
      alt="logo">
  </a>
  <div class="columns-3 gap-5 w-auto text-center nav-height">
    <div class="py-5 nav-height" routerLinkActive="border-b-4 bbc"><a routerLink="/home" routerLinkActive="link-active">Home</a></div>
    <div class="py-5 nav-height" routerLinkActive="border-b-4 bbc"><a routerLink="/rooms" routerLinkActive="link-active">Rooms</a></div>
    <div class="py-5 nav-height" routerLinkActive="border-b-4 bbc"><a routerLink="/reservation" routerLinkActive="link-active">Reservation</a></div>
  </div>
</nav>
