<div class="flex pt-10">
  <div class="w-1/4">
    <app-filter-rooms
      (submitEvent)="handleFilterData($event)"
    ></app-filter-rooms>
  </div>

  <div class="w-1/2">
    <div
      *ngIf="roomToShow == -1"
    >
      <p *ngIf="loading" class="text-center text-lg">Loading...</p>

      <h3
        *ngIf="!loading && roomsService.structuredRooms.length == 0"
        class="text-2xl text-center text-gray-600"
      >Nothing found</h3>

      <app-specific-room
        *ngFor="let room of roomsService.structuredRooms; let i = index"
        [inputStructuredRoom]="room"
        (click)="roomToShow = i"
        class="hover:brightness-90"
      ></app-specific-room>
    </div>

    <div
      *ngIf="roomToShow != -1"
    >
      <div>
        <div
          (click)="roomToShow = -1"
          class="flex bg-gray-200 rounded-2xl mb-4 p-1 text-gray-600 w-min hover:brightness-90 cursor-default"
        >
          <span class="material-symbols-outlined">
            arrow_back
          </span>
          <p class="pr-2">Back</p>
        </div>
      </div>

      <app-specific-room
        [inputStructuredRoom]="roomsService.structuredRooms[roomToShow]"
      ></app-specific-room>

      <div
        *ngFor="let room of filterDuplicates(roomsService.structuredRooms[roomToShow].room)"
        class="rounded-full flex items-center mb-2 justify-between bg-gray-200 text-gray-600 p-2 pl-4 text-xl"
      >
        <div>Capacity: {{ room.capacity }}</div>
        <div>Price: {{ room.price }}</div>
        <div>Dates: {{ datePipe.transform(filterData.checkInFilter, 'dd.MM.yyyy') }} - {{ datePipe.transform(filterData.checkOutFilter, 'dd.MM.yyyy') }}</div>
        <div
          (click)="reservationRedirect(datePipe.transform(filterData.checkInFilter, 'MM.dd.yyyy'), datePipe.transform(filterData.checkOutFilter, 'MM.dd.yyyy'), room.id)"
          class="bg-gray-400 rounded-full text-gray-200 py-1 px-2 cursor-default hover:brightness-90"
        >Book</div>

      </div>
    </div>
  </div>

  <div class="w-1/4">
  </div>
</div>
