<div class="pt-10 mx-auto w-2/3 ">
  <p *ngIf="loading" class="text-center text-lg">Loading...</p>

  <div
    *ngFor="let room of roomsService.rooms"
    class="border rounded-2xl flex items-center mb-2 justify-between bg-gray-200"
  >
    <div class="w-[48%] box-border p-4">
      <img src="https://localhost:7112/api/Image?roomId={{ room.id }}" alt="room_photo" class="rounded-2xl">
    </div>
    <div class="w-[48%] box-border p-4">
      <h2 class="mb-6 text-2xl text-center text-gray-600">{{ room.name }}</h2>
      <div class="columns-2 gap-6 mx-12">
        <div>
          <p>Capacity:</p>
          <p>Price:</p>
        </div>
        <div>
          <p>{{ room.capacity }}</p>
          <p><span class="font-bold">{{ room.price | currency }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
