@{
    ViewData["Title"] = "Test Page";
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase mb-5">Find a room</h1>
                <form>
                    <div class="row mb-3">
                        <div class="form-group col-6">
                            <label for="formGroupExampleInput" class="text-light">CheckIn</label>
                            <input type="text" class="form-control bg-dark" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                        <div class="form-group col-6">
                            <label for="formGroupExampleInput2" class="text-light">CheckOut</label>
                            <input type="text" class="form-control bg-dark" id="formGroupExampleInput2" placeholder="Another input">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Find room</button>
                </form>
            </div>
        </div>
    </div>
</header>